xbot
build
Debug
_UpgradeReport_Files
Release
mods/test
.cache
UpgradeLog*.XML
xbot.log
xbot.db
*.so
./*.dll
./*.lib
./mods/*.dll
./mods/*.lib
*.obj
*.exp
*.exe
*.ncb
*.sln.old
*.suo
*.suo.old
*.vcproj.*
*.vcxproj.*

